
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/carro/index"><i class="fas fa-list-alt"></i> Carros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid">

        <form method="post" action="/carro/update/@ViewBag.Carro.Id">
            <input type="hidden" value="@ViewBag.Carro.Id" name="carro.Id"/>
            <div class="form-group">
                <label for="campo-categoria">Categoria</label>
                <select class="form-control" id="campo-categoria" name="carro.IdCategoria">
                    @foreach (Models.Categoria categoria in ViewBag.Categorias)
                    {
                        if (categoria.Id == ViewBag.Carro.IdCategoria)
                        {
                            <option value="@categoria.Id" selected="selected">@categoria.Nome</option>  

                        }
                        else
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>
                        }
                    }
                </select>

            </div>
            <div class="form-group">
                <label for="campo-modelo">Modelo</label>
                <input class="form-control" type="text" id="campo-modelo" name="carro.Modelo" value="@ViewBag.Carro.Modelo" required="required" />
            </div>
            <div class="form-group">
                <label for="campo-preco">Preço</label>
                <input class="form-control" type="number" id="campo-preco" name="carro.Preco" value="@ViewBag.Carro.Preco" required="required" />
            </div>
            <div class="form-group">
                <label for="campo-datacompra">Data da Compra</label>
                <input class="form-control" type="datetime" id="campo-datacompra" name="carro.DataCompra" value="@ViewBag.Carro.DataCompra" required="required" />
            </div>
            <div class="float-right">
                <button class="btn btn-primary" type="submit" value="Salvar"><i class="fas fa-hdd"></i> Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>